.container {
    max-width: 1128px;
    margin: 0 auto;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    list-style: none;
    padding: 0;
}

.gallery-image {
    width: 360px;
    height: 200px;
}